body {
    font-family: 'Courier New', monospace;
    background-color: #333333;
    color: #76FF03;
    margin: 0;
    padding: 20px;
    line-height: 30px;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    /* add this to make the pseudo-element behind the body content */
}

a,
a:visited {
    color: #0099ff;
    padding-right: 10px;
    text-decoration: none;
}

a:hover {
    color: #90CAF9;
    text-decoration: underline;
}

console {
    padding: 10px;
}

p {
    margin: 0;
}

#command1,
#command2,
#command3 {
    color: #76FF03;
}

#response1,
#response2 {
    color: #76FF03;
    margin-left: 20px;
}

prompt {
    font-weight: bold;
}

.cursor1,
.cursor2,
.cursor3 {
    display: inline;
    animation: blink 1s step-end infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}